<script src="../Scripts/myBets/myBets.controller.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../Styles/myBets.css">

<!-- The Modal -->
<!--modal-->
<div class = "container-fluid tylersid">
	<div id="modal-fullscreen" class="modal show hideModal modal-fullscreen" tabindex="-1" role="dialog" aria-hidden="true">
	       <div class="modal-content">
	           <div class="modal-header">
	               <span type="button" class="close">X</span>
	                   <h3 id = "challengeTitle">Modal header</h3>
	           </div>
	           <div class="modal-body sid">
	             <div class="row fullRow">
	               <div class="col-lg-6">
	               	<div class ="row" id = "desc"></div>
	               	<div class = "clear"></div>
	               	<div class="row" id = "graph"></div>
	               	<div class="row" style = "margin-top: -50px;"> 
	               	<div id = "exp"></div>
	               	</div>
	                </div>
	                 
	               
	               <div class="col-lg-6">
	                 <div class="row">
	                   <div class="col-lg-5">
	                     <div id = "user" style = "width:70%;float:left"> </div>
	                   </div>
	                   <div style="font-size:30px; font-weight:700" class="col-lg-1"><br/><br/>vs</div>
	                   <div class="col-lg-5">
	                     <div style = "display:table-cell;width:70%;float:right" id="opponents" class = "textMid"></div>
	                   </div>
	                 </div>
	                 <hr/>
	                   <div class="row">

	                   		<div><h2>Smack talk</h2></div>
	                     	<div id = "commentsDiv" style = "clear:left;width:100%"> 
				    		<div id = "commentsList" class="scrollable"></div>
				    		<form>
					    		<input class="commentInput" id = "inputField" type="comment" placeholder="Talk smack here"></input>
					    		<button onclick="postComment()" class="sendBtn">Send</button>
			    			</form>
				    </div>
	                 </div>
	                 </div>
	               </div>
	             </div>
	            </div>
	            </div>
	   </div>
	</div>
</div>

  <!-- Modal content -->
  <!-- <div class="modal-content" style = "display:table">
    <div class="modal-header">
      <span class="close">X</span>
      <h2 id = "challengeTitle"></h2>
    </div >

    	<div id = "row" style = "display:row">
		    <div style = "width:50%;display:table-cell;text-align:center;" id="modal-body">
		    	<div id = "desc"></div>
		    </div>

		    <div style = "display:table-cell;width:25%;margin-left:25px;padding-right:25px;padding-left:25px" class = "textMid">
		    	<div style= "width:auto;float:left">
		    		<div style = "display:table-cell;width:35%;margin-right:25px;padding-left:25px;padding-right:25px;float:left" id="opponents" class = "textMid"></div>
		    		<div style="width:5%;float:left">VS.</div>
			    	<div id = "user" style = "width:35%;float:left"> </div>
		    	</div>
		    	<br/>

			    <div id = "commentsDiv" style = "clear:left;width:100%"> 
			    		<div id = "commentsList" class="scrollable"></div>
			    		<form>
				    		<input placeholder="Talk shit here"></input>
				    		<button onclick="postComment()">Send Comment</button>
		    			</form>
			    </div>
		    </div>
		    <div>
		    	
			</div>
		   <div id = "exp"></div>
		</div>
		<div class = "modal-footer">
			<div class = "submitBtns">
				<button onclick = "SubmitWin()"> I Won! </button> 
				<button onclick = "SubmitLose()"> I Lost </button> 
				<button onclick = "SubmitDraw()"> Draw </button> 
			</div>
		</div>
  </div> -->

</div>


    <div ng-app="betterBets.myBets" ng-controller="myBetsController">
        <h3>My Bets</h3>
        <div class="row" style="margin-top: 15px;">
        </div>
        <div style="background-color: white; margin-top: 15px; padding: 15px">
            <div class = "toggle-tile" bb-layout="myBetsCtrl.layout" bb-tiles="myBetsCtrl.tiles" bb-tile-dashboard-all-collapsed="myBetsCtrl.allCollapsed" style="cursor:pointer;">
            	<span class = "challengeTitle" style="color:red">{{x.challenge}}</span>
            	<hr/>
            	<div class = "betData">
                    <div id="graph-container"  class="chart" style="display:inline-block"></div>
                  

                    <script src="../Scripts/PieChart.js"> </script>
            	</div>

           	<br/><br/>
        </div>

        </div>
    </div>