<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="../Scripts/myBets/myBets.controller.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" type="text/css" href="../Styles/myBets.css">

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style = "display:table">
    <div class="modal-header">
      <span class="close">X</span>
      <h2 id = "challengeTitle"></h2>

    </div >
    	<div id = "row" style = "display:row">
		    <div style = "display:table-cell;width:25%;margin-left:25px;padding-right:25px;padding-left:25px" class = "textMid">

		    	<div id = "descExp"></div>
		    	<br/>
		    	<div id = "commentsDiv" class="scrollable"> 
		    		<ul id = "commentsList"></ul>
		    	</div>
		    	<br/>
		    	<form>
		    		<input placeholder="Talk shit here"></input>
		    		<button onclick="postComment()">Send Comment</button>
		    	</form>
		    </div>
		    <div style = "width:50%;display:table-cell;" id="modal-body"><div id = "titleField"></div></div>
		    <div style = "display:table-cell;width:25%;margin-right:25px;padding-left:25px;padding-right:25px" id="opponents" class = "textMid"></div>
		</div>
		<div class = "modal-footer">
			<div class = "submitBtns">
				<button onclick = "SubmitWin()"> I Won! </button> 
				<button onclick = "SubmitLose()"> I Lost </button> 
				<button onclick = "SubmitDraw()"> Draw </button> 
			</div>
		</div>
  </div>

</div>


    <div ng-app="betterBets.myBets" ng-controller="myBetsController">
        <h3>My Bets</h3>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-6">
                <!--<button class="btn bb-btn-secondary" ng-click="tileCtrl.open()" type="button">Open modal with tile</button>-->
                <button class="btn bb-btn-secondary" ng-click="myBetsCtrl.collapseAll()" type="button">Collapse</button>
                <button class="btn bb-btn-secondary" ng-click="myBetsCtrl.expandAll()" type="button">Expand</button>
            </div>
        </div>
        <div style="background-color: white; margin-top: 15px; padding: 15px">
            <div class = "toggle-tile" bb-layout="myBetsCtrl.layout" bb-tiles="myBetsCtrl.tiles" bb-tile-dashboard-all-collapsed="myBetsCtrl.allCollapsed" style="cursor:pointer;">
            	<span class = "challengeTitle" style="color:red">{{x.challenge}}</span>
            	<hr/>
            	<div class = "betData">
                    <div id="graph-container"  class="chart" style="display:inline-block"></div>
                  

                    <script src="../Scripts/PieChart.js"> </script>
            	</div>

           	<br/><br/>
        </div>

        </div>
    </div>

    <div ng-repeat="bet in myBetsCtrl.bets">
        <script type="text/ng-template" id="myBetsTemplate.html">
            <bb-tile bb-tile-header="myBetsCtrl.name" bb-tile-collapsed="myBetsCtrl.is_collapsed" bb-tile-settings-click="myBetsCtrl.openSettings()">
                <bb-tile-header-content>
                    bet.opponent
                </bb-tile-header-content>
                <div bb-tile-section>
                    <div class="bet-container">
                        <div id="you-container" class="tile-container"></div>
                        <div id="graph-container"  class="tile-container"></div>
                        <div id="opponent-container"  class="tile-container"></div>

                    </div>
                 </div>
                <script src="piesource.js"> </script>
            </bb-tile>
        </script>

    </div>