<div class="container-fluid">
  <div class="row">
    <h1 class="btrbt">better bets</h1>
  </div>
  <div class="row">
    <h2 class="gamble4good">Gambling for good</h2>
  </div>
  <div class="row logT">
    <form class="form-signin">
      <label for="inputUser" class="sr-only">Email address</label>
      <input type="userName" id="inputUser" class="form-control" placeholder="Username" required autofocus ng-model="signInCtrl.username">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="signInCtrl.password">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <a id="signInButton" class="btnTyler" href="Partials/myBets.html">Sign in</a>

      <div class="noAccount">Dont have an account yet?
        <a type="submit" href="http://localhost/#/signUp">Sign up</a>
      </div>
    </form>
  </div>
</div>