/* Template */
.better-bets-header {
    margin-bottom: 0px !important;
    min-height: inherit !important;
    background-color: #f3f3f4;
}

.flex-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: inherit;
    padding-left: 5px;
}

.header-logo {
    height: 22px;
}

.blackbaud-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #BD9456;
    font-size: 36px;
    display: inline;
    padding: 5px;
    color: #bd9456;
}

.super {
    vertical-align: 85%;
    font-size: 8px;
    margin-left: -4px;
}

.client-header {
    display: block;
    text-align: right;
    padding: 5px;
}

.client-label {
    font-weight: 800;
}

.nav-header-hidden {
    display: none !important;
}

.nav-welcome-btn {
    background-color: transparent;
}

.nav-welcome-btn:hover {
    background-color: #ECECEC;
}

.nav-welcome:hover .nav-welcome-menu {
    display: block;
    margin-top: 0px;
    left: auto;
    right: 0;
}
/* End template */

.hands{
  background-image: url("background.png");
  background-size: cover;
  position: relative;
  padding-bottom:34.5vh;
  margin-bottom:-34.5vh;

}

.bevel{
  border-radius: 4px;
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

/* Sign in */
.signInBody {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f3f3f4;
}

.btrbt {
  padding-top: 15vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #BD9456;
  font-size: 120px;
  letter-spacing: -3px;
  font-style: lighter;
  font-variant: normal;
  font-weight: 200;
  line-height: 15.4px;
  text-align: center;
}
.gamble4good {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #C9C9C9;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 0px;
  text-align: center;
  padding-top: 40px;
  margin-bottom: -50px;
}
.logT{

  position: relative;
  margin: auto;
  width: 60%;
  top: 80px;
  border-top: 1px solid #C9C9C9;
  border-collapse:collapse;
}
.form-signin {
  max-width: 330px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="userName"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
box-shadow:none !important;
border:0px solid #ccc !important;
}
.form-signin input[type="password"] {
  margin-bottom: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  outline: none;
  box-shadow:none !important;
  border:0px solid #ccc !important;
}

.btnTyler {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  margin-bottom: 0;
  display: block;
  width: 100%;
  color: white;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  background-color: #293846;
  border: 1px solid transparent;
  border-radius: 4px;
}
/* End sign in */

/* New Bet */
.text-field {
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description-field {
    resize: vertical;
}

.form-new-bet {
  max-width: 1000px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  margin: 0 auto;
}

.new-bet-message {
    font-size: 24px;
    color: #293846;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* End new bet */

/* Sign up */
.contentContainer {
  padding-top: 15vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #BD9456;
  font-size: 120px;
  letter-spacing: -3px;
  font-style: lighter;
  font-variant: normal;
  font-weight: 200;
  line-height: 15.4px;
  text-align: center;
}


.top-content .text {
  padding-top: 120px;
  color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
  color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
  margin-top: 35px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: grey; }
.form-top-left p { color: grey; opacity: 0.8; }

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #fff;
  line-height: 100px;
  text-align: right;
}
.signUpForm{
  background-color: white;
}
.form-bottom form textarea {
  height: 100px;
}

.form-bottom form .input-error {
  border-color: #66d6c5;
}

.signupTitle{
    margin-top: 30vh;
    color: #BD9456;
    font-size: 50px;
}

.form-signup {
  /*width: 450px;*/
  padding-left: 0px;
  /*padding-right: 40px;*/
  padding-top: 60px;
  margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup .checkbox {
  font-weight: normal;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}
.form-signup input[type="password"] {
  margin-bottom: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}
/* End sign up */