
html, body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    overflow-x: hidden;
}

.tylersid{
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background: blue;
  
}
.descriptionC {
    font-size: 26;
    font-weight: 200;
    letter-spacing: -.5;
    margin-bottom: -80px;
}

#challengeTitle {
    text-align:center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.userStyle{
    font-size: 30px;
    font-weight: 600;
    color: pink;
}

.charityName{
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-overflow:visible;
}

.charityNameHeader{
    font-size:16px;
    font-weight:300;
}

.center {
    padding: 0px 0;
    text-align: center;
}

.textMid {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;  
}
.hideModal{
    visibility:hidden;
}

input {
    background-color: #f2f2f2;
    color: black;
}
.row {
    overflow-x: auto;
}

path {
    position:relative;
}
.scrollable {
    height: 300px;
    overflow-y: auto;
    overflow-x:hidden
    margin:0;
} 

button {
    margin:20px;
}

.bla{
    width= 90%;
    max-width: 1200px;
}
.submitBtns {
    text-align:center;
}
.sid {
    height:400px;
    padding:15;
    overflow:auto;
    display:inline-block;
    width:100%;
    height:auto;
}
#user {
    text-align:left;
}

#opponents {
    text-align:right;
}

@import "compass/css3";

body {
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: normal;
}

section {
    max-width: 450px;
    margin: 50px auto;

    div {
        max-width: 255px;
        word-wrap: break-word;
        margin-bottom: 20px;
    line-height: 24px;
    }
}

.clear {clear: both}
.from-me {
    position:relative;
    padding:10px 20px;
    color:white; 
    background:#0B93F6;
    border-radius:25px;
    float: right;
    width:50%;

 
}

.from-me:before {
        content:"";
        position:absolute;
        z-index:-1;
        bottom:-2px;
        right:-7px;
        height:20px;
        border-right:20px solid #0B93F6;
        border-bottom-left-radius: 16px 14px;
        -webkit-transform:translate(0, -2px);
}

.from-me:after {
        content:"";
        position:absolute;
        z-index:1;
        bottom:-2px;
        right:-56px;
        width:26px;
        height:20px;
        background:white;
        border-bottom-left-radius: 10px;
        -webkit-transform:translate(-30px, -2px);
}

.from-them {
    position:relative;
    padding:10px 20px;
    background:#E5E5EA;
    border-radius:25px;
    color: black;
  float: left;
      width:50%;
        
}

.from-them:before {
        content:"";
        position:absolute;
        z-index:2;
        bottom:-2px;
        left:-7px;
        height:20px;
        border-left:20px solid #E5E5EA;
        border-bottom-right-radius: 16px 14px;
        -webkit-transform:translate(0, -2px);
    }

.from-them:after {
        content:"";
        position:absolute;
        z-index:3;
        bottom:-2px;
        left:4px;
        width:26px;
        height:20px;
        background:white;
        border-bottom-right-radius: 10px;
        -webkit-transform:translate(-30px, -2px);
    }


body {
  background: #72cffa;
}

/* .modal-transparent */

.modal-transparent {
  background: transparent;
}
.modal-transparent .modal-content {
  background: transparent;
}
.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: white;
      -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
}

.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: auto;
  margin-right: auto;
  margin-left: 50px;
  width: 80%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

#modal-fullscreen{
  margin: auto;
  width: 90%;
  height: 70%;
}

/* centering styles for jsbin */
html,
body {
  width:100%;
  height:100%;
}
html {
  display:table;
}
body {
  display:table-cell;
  vertical-align:middle;
}
body > .btn {
  display: block;
  margin: 0 auto;
}

#id {
    margin-top:50px;
}

#graph {
    width:100%;
    margin-top:30px;
    margin-left:90px;
}

.col-lg-6 {
    width:50%;
}

.fullRow {
    width:100%;
}

.commentInput input[type="comment"] {
 margin-bottom: 10px;
 border-bottom-right-radius: 0;
 border-bottom-left-radius: 0;
 outline: none;
 box-shadow:none !important;
 border:0px solid #ccc !important;
}

.sendBtn {
    border-width: 0px;
    outline:none;
    color:#777777;
    font-weight: 700;
    letter-spacing: -0.5px;
    background-color:transparent;
}

strong {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.modal-header{
    background-color:#f9f9f9;
    font-size:30px;
    font-weight: 800;
    letter-spacing:1px;
}

#desc {
    margin-bottom: -250px;
    height: 100px;
}